@import url('https://fonts.googleapis.com/css?family=Arimo|Pacifico&display=swap');

.waffles-flex-div{
    min-width: 40vw;
    min-height: 50vh;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    font-family: 'Arimo', sans-serif;


  }

.waffleBox{
    min-width: 160px;
    height: 150px;
    background-image: url(./../Waffle-my-waffle.jpg);
    border-radius: 10px

}



.waffleAdd{
    width: 200px;
    height: 150px;
}

.edit-btn{
    margin-top: 75px;
    margin-right: 5px;
    margin-left: 2.5px;
    border-radius: 10px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    font-weight: bold;
    text-shadow: -1px 0 tan, 0 1px tan, 1px 0 tan, 0 -1px tan;

}

button{
    margin: 4px;
}

.delete-btn{
    border-radius: 10px;
    background-color: transparent;
    box-shadow: none;
    color: white;
    font-weight: bold;
    border: 2px solid white;

    }

    h4{
        padding: 4px;
        margin-left: 5px;
        color: black;
        font-weight: bold;
        text-shadow: -1px 0 tan, 0 1px tan, 1px 0 tan, 0 -1px tan;
    }

    .buttonAdd{
        border-radius: 10px;
    }